# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing & coverage
/coverage
/.nyc_output


# next.js & build output
/.next/
/out/
/build/
/dist/
/.turbo/

# environment variables
.env
.env.*
!.env.example

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.log
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs & OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SSL keys & certs
*.pem

# Temporary files
*.tmp
src/db/seed.ts



*.MD
